---
import PostList from "@/components/PostList.astro"
import Layout from "@/layouts/Layout.astro"

import { defaultLocale, moreLocales } from "@/config"
import { getPinnedPosts, getPostsByYear } from "@/utils/content"
import { getPosts } from "@/lib/notion/posts"
import type { Post } from "@/lib/notion/types"

/* ---------------------------
   Static Paths
---------------------------- */

export async function getStaticPaths() {
  return [
    {
      params: { posts: "posts" }, // مهم
      props: { lang: defaultLocale },
    },
    ...moreLocales.map(lang => ({
      params: { posts: `${lang}/posts` }, // مهم
      props: { lang },
    })),
  ]
}

/* ---------------------------
   Page Data
---------------------------- */

const { lang } = Astro.props

const pinnedPosts = await getPinnedPosts(lang)
const postsByYear = await getPostsByYear(lang)

let searchPosts: Post[] = []

if (import.meta.env.NOTION_TOKEN) {
  searchPosts = await getPosts()
}
---

<Layout>
  {pinnedPosts.length > 0 && (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <PostList posts={pinnedPosts} lang={lang} pinned={true} />
    </section>
  )}

  {[...postsByYear.entries()].map(([_year, posts]) => (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <PostList posts={posts} lang={lang} />
    </section>
  ))}
</Layout>
