---
import PostList from "@/components/PostList.astro"
import Layout from "@/layouts/Layout.astro"

import { defaultLocale, moreLocales } from "@/config"
import { getPinnedPosts, getPostsByYear } from "@/utils/content"
import { getPosts } from "@/lib/notion/posts"
import type { Post } from "@/lib/notion/types"

/* ---------------------------
   Static Paths
---------------------------- */

export async function getStaticPaths() {
  type PathItem = {
    params: { posts: string | undefined }
    props: { lang: string }
  }

  const paths: PathItem[] = []

  // Default locale
  paths.push({
    params: { posts: undefined },
    props: { lang: defaultLocale },
  })

  // Other locales
  moreLocales.forEach((lang: string) => {
    paths.push({
      params: { posts: `${lang}/posts` },
      props: { lang },
    })
  })

  return paths
}

/* ---------------------------
   Page Data
---------------------------- */

const { lang } = Astro.props

const pinnedPosts = await getPinnedPosts(lang)
const postsByYear = await getPostsByYear(lang)

/* Notion posts for search */

let searchPosts: Post[] = []

if (import.meta.env.NOTION_TOKEN) {
  searchPosts = await getPosts()
}
---

<Layout>

  {pinnedPosts.length > 0 && (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <PostList posts={pinnedPosts} lang={lang} pinned={true} />
    </section>
  )}

  {[...postsByYear.entries()].map(([_year, posts]) => (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <PostList posts={posts} lang={lang} />
    </section>
  ))}

</Layout>
